<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoOfSwift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB61FAEE1E07735600982F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB61FB021E07735600982F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB61FB0D1E07735600982F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
